[Options]

# CEBALERT: need to check these 'None' things.

# Where is the topographica script? Note that some job submission
# systems require an absolute path
# e.g. "/home/user/topographica/topographica". Setting this to "None"
# will result in run_batch()'s default location being used. For speed,
# you should usually supply a local path (rather than one on a
# network).
topographica_script = './topographica'


# run_batch() dirname_prefix for all the combinations; ${combonumber} will be
# replaced with the combination number
topographica_dirname_prefix_template = '${combonumber}'


# Where you want the results directory (which will contain all the
# directories created by Topographica's run_batch()) to go
# This path must already exist.
# e.g. "/disk/scratch/"
results_path = './Output/' 


# The appropriate command template for your system; ${job} will be
# replaced with the actual job. Additionally, you can use
# ${combonumber} to get the combination number.
#
# E.g. on eddie: 
#  'qsub -cwd -P ecdf_baseline -pe "memory" 1 -l s_rt=40:00:0 -R y ${job}'
job_submit_template = 'nohup nice ${job} > combo${combonumber}.out &'


# Arguments passed to Topographica before any others.
topographica_args = ['-a']


# submitter is the script that's used to submit the jobs;
# the individual job commands will be in selector.
submitter = 'submitter.sh'
selector = 'selector.sh'
